@page "/"

    <h1>The appsettings file should include the following settings: </h1>
    <p>"4ChanBaseUrls": {
                           "BoardBase": "https://a.4cdn.org/",
                           "ImageBase": "https://i.4cdn.org/"
                     },
       "FileSystemSettings": {
            "DownloadServiceBaseFolder": "D:\\ImageFiles"
    }</p>

<h2>Still needs:</h2>
<ul>
    <li>Unit Tests</li>
    <li>Logging</li>
    <li>UI Cleanup</li>
</ul>
